:local() {

  main {
    flex: 1;
  }

  table {
    thead>tr>th {
      text-align: center;
    }

    tbody>tr>td{
      text-align: center;
      vertical-align: middle;

      &:nth-child(2) {
        text-align: center;
  
        img {
          max-height: 100px;
        }
      }
    }
  }
}
